
extends recuperar-contrasena

block content
    h1.confirmation-title ¡Gracias por envíar tu correo en breve recibiras un correo con el link para restablecer tu contraseña!
    p.confirmation-message Recuerda verificar la papelera, asi como los correos no deseados en caso de no encontrarlo directo en recibidos.