extends layout

block content
  h1 #{title}
  p ¡Bienvenido a Konichiwa! Estamos encantados de darte la bienvenida a nuestro espacio virtual. En Konichiwa, nos esforzamos por ofrecerte una amplia variedad de figuras de vinilo Funko, experiencias únicas y recursos valiosos. Explora nuestras secciones y descubre una variedad de figuras emocionantes. Desde figuras exclusivas hasta consejos prácticos para coleccionistas, estamos aquí para inspirarte, informarte y acompañarte en tu viaje por el mundo de los Funko. No dudes en sumergirte en nuestro contenido y compartir tus comentarios con nosotros. ¡Tu opinión es importante para nosotros!
  div.container
    form(action='/buscar-producto', method='GET' class='search-bar')
      input(type='text', name='q', placeholder='Buscar producto...')
      button(type='submit') Buscar
    
  div.img-title1 
    img(src="/images/fondo.gif", alt="")

