doctype html
html
  head
    link(rel='icon', href='/images/favicon_ecommerce.png', type='image/x-icon')
    title #{title}
    link(rel='stylesheet', href='/css/styles.css')
    
  body
    nav
      ul
        li
          a(href='/', class='icon-link')
            img(src='/images/inicio.webp',  class='icon-thumbnail')
            | Inicio
        li
          a(href='/catalogo', class='icon-link')
            img(src='/images/catalogo.png', class='icon-thumbnail')
            | Catálogo de Productos
        li
          a(href='/carrito', class='icon-link')
            img(src='/images/carrito.png', class='icon-thumbnail')
            | Carrito de Compra (#{carrito.length})
        li
          a(href='/', class='icon-link')
            img(src='/images/usuario-gris.png', class='icon-thumbnail')
            | Hola, Admin
        li
          a(href='/login', class='icon-link logout-button')
            img(src='/images/cerrar sesion.png', class='icon-thumbnail')
            | Cerrar sesión

    .container
      block content

