
doctype html
html(lang="en")
  head
    link(rel='icon', href='/images/favicon_ecommerce.png', type='image/x-icon')
    title #{title}
    link(rel='stylesheet', href='/css/styles.css')
  body
    .container
      h2 ¡Completa el formulario para iniciar sesión!
      form(action="/login", method="post")
        label(for="username") Usuario:
        input(type="text", id="username", name="username", placeholder="Ingresa tu usuario")
        br
        label(for="password") Contraseña:
        input(type="password", id="password", name="password", placeholder="Ingresa tu contraseña")
        br
        input(type="submit", value="Iniciar sesión")
        br
        a(href="/recuperar-contrasena") ¿Olvidaste tu contraseña?
        br
        a(href="/registro") ¿No tienes una cuenta? Regístrate aquí
